@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container" style="background-image: ">
        ...
    </div>
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
            <img src="~/images/Portfolio1.png" class="thumbnail img-responsive">
        </a>
        
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
            <img src="~/images/Portfolio2.png" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="#">
            <img src="~/images/Portfolio3.png" class="thumbnail img-responsive">
        </a>
    </div>
   
</div>
</body>

 